# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Assigment_JavaCore_TASC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
