# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Training_Java_TASC\Demo_Java_Collection\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
